ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
	float: right;
}
li .material-icons {
	padding: 18px 10px;
}
li a {
	display: inline-block;
	padding: 22px 10px;
	font-family: sans-serif;
	font-weight: 100;
	font-size: 12px;
	color: #404040
}
img {
	width: 300px;
	height: 90px;
	display: block;
	margin: 0px auto;
}
form {
	text-align: center;
}

#navbar {
	position: fixed;
	top: 0px;

}

#footer{
	position: fixed;
	bottom: 0px;
}
#main{
	margin: 200px;
}
#search{
	margin: 25px;
}
#button{

}
